#img-container {
    overflow-x: auto;
    white-space: nowrap;
}

#img-container img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    margin: 0 10px;
}
  
#editor{
    overflow-y: auto;
}
  