#container {
  display: grid; 
  grid-template-columns: 1.3fr 1.4fr 1.2fr; 
  grid-template-rows: 0.2fr 1.3fr 0.2fr 1.8fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". title ."
    "image image image"
    "button1 . button2"
    "editor editor editor"; 
}

#title-container {
	grid-area: title;
	display: flex;
	justify-content: center;
}

#title {
    font-family: 'Gabarito', serif;
	font-weight: bold;
  }
   


#img-container {
	grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#img-container img {
	height: 100%;
  	width: 100%;
	max-width: 80vw;
  	max-height: 100vh;
   	height: auto;
   	object-fit: contain;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	
}



  
#editor-container{
	grid-area: editor;
    overflow-y: auto;
}

#button-container-1{
	grid-area: button1;
}

#button-container-2{
	grid-area: button2;
}

.button-container {
    display: flex;
    justify-content: center;
	align-items: center;
    padding: 20px;
	max-width: 80vw;
	text-align: center;
}
  
.button-container md-filled-button {
    font-family: 'Gabarito';
    flex: 1;
    margin: 0 5vw;
    color: "primary";
	max-width: 80vw;
	
    
}


.editor {
	min-height: 70vh;
	width: 80%;
	background: #ffffff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40px;
	margin-left: 8%;
	margin-right: 5%;
	outline: none;
}

