#connection-banner {
    box-sizing: border-box;
    position: fixed;
    bottom: -100px;
    width: 100%;
    padding: 12pt;
    z-index: 100;
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: bottom .3s;
}

#connection-banner.open {
    bottom: 0px;
}